* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
	background-image: url("images/bg.jpg");
	background-repeat: repeat;
	background-size: auto, 100% 100%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #ffffff;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	font-weight: 100;
	line-height: 200px;
	text-align: center;
}

footer {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	font-size: 12px;
	opacity: 0.5;
	line-height: 50px;
	text-align: center;
}

.container{
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.4) ;
}

.container table{
    margin:auto;
    padding: 20px;
}

.container table tr{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size:  18px;
    color: rgba(22,141,181,0.8);
}

.container table  tr td input{
    padding:10px;
    margin: 5px;
    font-family:  'Ubuntu', sans-serif;
    font-size:  20px;
    text-align: right;
    background-color: #ffffff;
}

.container table tr td a{
    padding:10px;
    margin: 5px;
    font-family:  'Ubuntu', sans-serif;
    font-size:  20px;
    text-align: right;
    background-color: #ffffff;
}

/*.container table  tr td  input:focus,
.container table  tr td  input.focus {
  border: solid 3px;
  border-color: rgba(22,141,181,1);
}*/

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
